body {
    background-color: rgb(80, 81, 79);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 550;  
}

caption {
    color: white;
    padding-top: 15px;
    padding-bottom: 5px;
    text-shadow: 1px, 1px, 1px, black;
    font-weight: bold;
}

h1, h2, h3, h4 {
    color: white;
    text-align: center;
}

.no_access{
    padding-top: 50px;
}

td:nth-child(1) {
width: 20px;

}

/* the second */
td:nth-child(2) {
width: 250px;

}

/* the third */
td:nth-child(3) {
width: 250px;

}

  
table {
background-color: white;
min-width: 200px;

}

.patch_table_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding-bottom: 50px;
}



.header {
    font-weight: bold;
    text-align: center;
    background-color: rgb(36, 123, 160);
    color: white;

}

.num_col {
    font-weight: bold;
    background-color: rgb(36, 123, 160);
    text-align: center;   
    padding: 5px;
    color: white;
}

.check {
    background-color: rgb(136, 136, 135);
    text-align: center;
    color: white;
}

.text_cont {
    display: flex;
    margin: auto;
    }

